/* ./components/AddArticle/Editor */

.editor-wrapper {
  margin-bottom: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.output-title {
  margin: 0 0 10px;
  padding: 0;
  color: #515559;
  font-size: 18px;
  font-weight: 500;
}

.output-content {
  max-height: 100px;
  margin-bottom: 30px;
  padding: 0 15px;
  overflow: auto;
  background-color: #f8f9fa;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #919191;
  font-size: 13px;
  font-family: monospace;
  word-wrap: break-word;
  word-break: break-all;
}

/* logo */

.logo {
  text-align: center;
}

.logo-circle {
  height: 100%;
  border-radius: 50%;
}

.logo-all {
  height: 100%;
}
