/* Content > div */
.container {
  padding: 24px;
  min-height: 360px;
  background-color: #fff;
}

/* ./components/AddArticle/Editor */

.editor-wrapper {
  margin-bottom: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.output-title {
  margin: 0 0 10px;
  padding: 0;
  color: #515559;
  font-size: 18px;
  font-weight: 500;
}

.output-content {
  max-height: 100px;
  margin-bottom: 30px;
  padding: 0 15px;
  overflow: auto;
  background-color: #f8f9fa;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #919191;
  font-size: 13px;
  font-family: monospace;
  word-wrap: break-word;
  word-break: break-all;
}

/* logo */

.logo {
  text-align: center;
}

.logo-circle {
  height: 100%;
  border-radius: 50%;
}

.logo-all {
  height: 100%;
}

/* Index */

.button-col {
  flex: 1;
  text-align: center;
}

.button-col button {
  margin: 0 10px;
}

/* AddArticle */

.add-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.btn-primary {
  margin-left: 10px;
}

.add-title {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}

/* src/pages/HomeCarousel */
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}
